In [22]:
from pyspark.sql import DataFrame

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('testovoeMindBox').master('local').config("spark.jars", "/home/postgresql-42.7.3.jar").getOrCreate()

In [30]:
product_data=[{"product_id":1,"name":"Молоко"},{"product_id":2,"name":"Вода"},{"product_id":3,"name":"Сухарики"}]
category_data=[{"category_id":1,"name":"Молочное"},{"category_id":2,"name":"Жидкое"},{"category_id":3,"name":"Фрукты"}]

In [15]:
category_product_data=[
    {"category_id":1,"product_id":1},
    {"category_id":2,"product_id":1},
    {"category_id":2,"product_id":2}]

In [34]:
product=spark.createDataFrame(product_data)
category=spark.createDataFrame(category_data)

In [16]:
category_product=spark.createDataFrame(category_product_data)

In [35]:
product.show()
category.show()
category_product.show()

+--------+----------+
|    name|product_id|
+--------+----------+
|  Молоко|         1|
|    Вода|         2|
|Сухарики|         3|
+--------+----------+

+-----------+--------+
|category_id|    name|
+-----------+--------+
|          1|Молочное|
|          2|  Жидкое|
|          3|  Фрукты|
+-----------+--------+

+-----------+----------+
|category_id|product_id|
+-----------+----------+
|          1|         1|
|          2|         1|
|          2|         2|
+-----------+----------+

In [60]:
def joinDataframes(df1: DataFrame, df2: DataFrame, link_df:DataFrame):
    df1.createTempView("df1")
    df2.createTempView("df2")
    link_df.createTempView("link_df")

    res_df=spark.sql(
        """SELECT 
               d1.name as Product_name,
               coalesce(d2.name as Category_name, ''
           FROM
               df1 d1
               left join link_df ld on d1.product_id=ld.product_id
               left join df2 d2 on ld.category_id=d2.category_id
        """
    )
    spark.catalog.dropTempView("df1")
    spark.catalog.dropTempView("df2")
    spark.catalog.dropTempView("link_df")
    return res_df

In [61]:
    spark.catalog.dropTempView("df1")
    spark.catalog.dropTempView("df2")
    spark.catalog.dropTempView("link_df")

True

In [62]:
joinDataframes(product, category, category_product).show()

+------------+-------------+
|Product_name|Category_name|
+------------+-------------+
|      Молоко|       Жидкое|
|      Молоко|     Молочное|
|    Сухарики|         NULL|
|        Вода|       Жидкое|
+------------+-------------+